.flex-Row4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}

.card {
    height: 50vh;
    width: 20vw;
    overflow: hidden;
    margin-top: 5vh;
}

.cover {
    width: 18vw;
    margin: 1vw;
    height: 30vh;
}
.cover img {
    width: 100%;
    height: 100%;
}